@page "{productId:int?}"
@model OnlineShop.Pages.Collection.EditModel
@{
    ViewData["Title"] = "Edit";
}

@if (Model.Product.Name == null)
{
    <h1>Add new product</h1>
}
else
{
    <h1>Edit @Model.Product.Name</h1>
}

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Product.Id" />
    <input type="hidden" asp-for="Product.PhotosPath" />

    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Product.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Product.Price"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Product.Description"></label>
        <textarea asp-for="Product.Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Product.Description"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photos" class="custom-file-input form-control" />
                <label class="custom-file-label">Click here to add a photo</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Size"></label>
        <select asp-for="Product.Size" class="form-control"
                asp-items="Model.Sizes">
        </select>
        <span class="text-danger" asp-validation-for="Product.Size"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Gender"></label>
        <select asp-for="Product.Gender" class="form-control"
                asp-items="Model.Genders">
        </select>
        <span class="text-danger" asp-validation-for="Product.Gender"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Fabric"></label>
        <select asp-for="Product.Fabric" class="form-control"
                asp-items="Model.Fabrics">
        </select>
        <span class="text-danger" asp-validation-for="Product.Fabric"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Type"></label>
        <select asp-for="Product.Type" class="form-control"
                asp-items="Model.Types">
        </select>
        <span class="text-danger" asp-validation-for="Product.Type"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    @*This script is required to display the selected file in the file upload element
        If a sinle file is selected, the name of the file is displayed. If multiple
        files are selected, then the count of files is displayed.*@

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    console.log($(this));
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + ' files selected');
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }
                });
            });
        </script>
    }
</form>

