@page
@model OnlineShop.Pages.Account.Admin.Deliveries.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1 class="display-4">Add Delivery Provider</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="font-weight-light" asp-for="Delivery.Provider"></label>
                <input asp-for="Delivery.Provider" class="form-control" />
                <span asp-validation-for="Delivery.Provider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-light" asp-for="Delivery.Price"></label>
                <input asp-for="Delivery.Price" class="form-control" />
                <span asp-validation-for="Delivery.Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>