@page
@model OnlineShop.Pages.Account.Admin.Deliveries.ListModel
@{
    ViewData["Title"] = "Deliveries";
}

<h1 class="display-4">Deliveries</h1>

<div class="row">
    <a href="../Deliveries/Add" class="btn btn-info">Add delivery</a>
</div>

