@page
@model OnlineShop.Pages.Account.Admin.PanelModel
@{
    ViewData["Title"] = "Admin Panel";
}

<h1 class="display-4">Panel</h1>

<a class="btn btn-info" href="./Orders">Orders</a>
<a class="btn btn-info" href="./Deliveries/List">Delieveries</a>

